<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/header.html :: top-header"></div>
<body>
<div th:replace="fragments/header.html :: fragment-header"></div>
<div style="font-family: 'Do Hyeon', sans-serif;padding: 1%">
    <h3>고냥이 시세 모니터링 플랫폼 :: 관리자 페이지</h3>
</div>
<div class="input-group mb-3" style="font-family: 'Do Hyeon', sans-serif; width: 80%;margin-right: auto;margin-left: auto">
    <span class="input-group-text" id="basic-addon1">아이템 이름</span>
    <input type="text" class="form-control" placeholder="Item Name" aria-describedby="basic-addon1" id="searchInput" onkeyup="enterkey()">
    <div style="width: auto;float: right;padding-left: 1%;padding-right: 1%">
        <button type="button" class="btn btn-warning" style="float: right" id="logout">로그아웃</button>
    </div>
</div>
<div style="font-family: 'Do Hyeon', sans-serif;text-align: center">
    <p>갱신 요청 및 추가 요청을 확인하고 승인 및 반려를 해주시기 바랍니다.</p>
    <p>승인과 반려에 대해 로그를 기록하고 있습니다. 잘 살펴보고 처리 부탁드립니다!</p>
</div>
<table class="table" style="text-align: center;font-family: 'Do Hyeon', sans-serif; width: 80%;margin-right: auto;margin-left: auto">
    <thead>
    <tr>
        <th scope="col">아이템 이름</th>
        <th scope="col">최고가</th>
        <th scope="col">적정가</th>
        <th scope="col">최저가</th>
        <th scope="col">승인</th>
        <th scope="col">반려</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${itemList}" style="font-size: 18px">
        <td th:text="${item.item_display}"></td>
        <td th:text="${item.max_price}"></td>
        <td th:text="${item.avg_price}"></td>
        <td th:text="${item.min_price}"></td>
        <td><button type="button" class="btn btn-success" th:id="${item.item_id}" th:name="${item.id}">승인</button></td>
        <td><button type="button" class="btn btn-danger" th:id="${item.id}">반려</button></td>
    </tr>
    </tbody>
</table>
<script type="text/javascript">

    const address = "http://localhost"

    $("#logout").click(function() {
        $.ajax({
            type: 'GET',
            url: address + "/authapi/logout",
            contentType: "application/json",
            dataType: 'text',
            success: function (data) {

            },
            error: function () {
            },
            complete: function (data) {
                let result = data['responseText'];
                if(result === 'successful') {
                    alert("로그아웃 되었습니다!");
                    window.location = address
                }

            }
        });
    })

    $(".btn-danger").click(function() {
        let req_id = this.getAttribute('id');
        confirmMessage = confirm("정정/추가 요청을 반려하시겠습니까?");
        if(confirmMessage) {
            // AJAX POST request
            $.ajax({
                type: 'PUT',
                url: address + "/api/req?id=" + req_id + '&status=deny',
                contentType: "application/json",
                dataType: 'json',
                success: function () {

                },
                error: function () {
                },
                complete: function () {
                    alert("요청이 반려되었습니다!");
                    window.location = "/management";
                }
            });
        } else {

        }
    })

    $(".btn-success").click(function() {
        let req_id = this.getAttribute('name');
        confirmMessage = confirm("정정/추가 요청을 승인하시겠습니까?");
        if (confirmMessage) {
            // AJAX POST request
            $.ajax({
                type: 'PUT',
                url: address + "/api/req?id=" + req_id + '&status=confirm',
                contentType: "application/json",
                dataType: 'json',
                success: function () {

                },
                error: function () {
                },
                complete: function () {
                    alert("요청이 승인되었습니다!");
                    window.location = "/management";
                }
            });
        } else {

        }
    })

    function enterkey() {
        if (window.event.keyCode === 13) {
            let userInput = $("#searchInput").val();
            if (userInput === "") {

            } else {
                window.location = address + "/management?name=" + userInput
            }
        }
    }
</script>
<div th:replace="fragments/footer.html :: fragment-footer"></div>
</body>
</html>