<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/header.html :: top-header"></div>
<body>
<div th:replace="fragments/header.html :: fragment-header"></div>
<div style="font-family: 'Do Hyeon', sans-serif;width: 80%;margin-right: auto;margin-left: auto;margin-top: 2%;text-align: center">
    <h3>아이템 시세 정정</h3>
    <p>잘못되거나 오래된 시세를 정정하는 페이지입니다.</p>
    <div class="input-group mb-3">
        <span class="input-group-text">아이템 이름</span>
        <input type="text" class="form-control" placeholder="아이템 이름" aria-describedby="basic-addon1" id="item_name" th:value="${item.item_display}" disabled>
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text">아이템 영문명</span>
        <input type="text" class="form-control" placeholder="아이템 영문명" aria-describedby="basic-addon1" id="item_id" th:value="${item.item_id}" disabled>
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text">최소가</span>
        <input type="number" step="0.1" class="form-control" placeholder="최소가" aria-describedby="basic-addon1" id="min_price" th:value="${item.min_price}">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text">적정가</span>
        <input type="number" step="0.1" class="form-control" placeholder="적정가" aria-describedby="basic-addon1" id="avg_price" th:value="${item.avg_price}">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text">최고가</span>
        <input type="number" step="0.1" class="form-control" placeholder="최고가" aria-describedby="basic-addon1" id="max_price" th:value="${item.max_price}">
    </div>
    <div style="text-align: center">
        <span>관리자의 검토 이후, 시세가 정정 될 예정입니다. 정확하게 작성해주시면 감사하겠습니다!</span>
        <button type="button" name="submitBtn" class="btn btn-primary">시세 정보 수정</button>
    </div>
    <div style="text-align: center;margin-top: 2%">
        <span>혹시 이상한 시세가 올라가거나, 잘못된 정보가 있는 경우, 관리자이시면 삭제가 가능합니다!</span>
        <button type="button" class="btn btn-danger" id="deleteBtn">시세 정보 삭제</button>
    </div>
</div>
<script type="text/javascript">

    const address = "http://localhost"

    $("#deleteBtn").click(function() {

        confirmMessage = confirm("아이템 시세를 삭제하시겠습니까?");
        if (confirmMessage) {
            $.ajax({
                type: 'DELETE',
                url: address + "/api/delete?name=" + $("#item_id").val(),
                contentType: "application/json",
                dataType: 'text',
                success: function (data) {

                },
                error: function () {
                },
                complete: function (data) {
                    let result = data['responseText'];

                    if(result === 'authException') {
                        alert("관리자 인증이 되지 않았습니다!");
                    } else if(result === 'successful') {
                        alert("삭제되었습니다!!");
                        window.location = address;
                    }

                }
            });
        } else {

        }
    })

    $(document).ready(function () {
        $("button[name='submitBtn']").click(function () {

            let min = Number($("#min_price").val());
            let max = Number($("#max_price").val());
            let avg = Number($("#avg_price").val());

            if(min > max) {
                alert("최소 가격이 최대 가격보다 큽니다!")
                return;
            } else if(avg > max) {
                alert("적정가격이 최대 가격보다 큽니다!")
                return;
            } else if(avg < min) {
                alert("적정 가격이 최소 가격보다 작습니다!")
                return;
            }

            let itemInfo = {
                'item_id' : $("#item_id").val(),
                'item_display' : $("#item_name").val(),
                'min_price' : Number($("#min_price").val()),
                'max_price' : Number($("#max_price").val()),
                'avg_price' : Number($("#avg_price").val()),
            }
            confirmMessage = confirm("아이템 시세를 수정하시겠습니까?");
            if(confirmMessage) {
                // AJAX POST request
                $.ajax({
                    type: 'POST',
                    url: address + "/api/new",
                    contentType: "application/json",
                    dataType: 'json',
                    data: JSON.stringify(itemInfo),
                    success: function () {

                    },
                    error: function () {
                    },
                    complete: function () {
                        alert("정상적으로 추가되었습니다!");
                        window.location = address;
                    }
                });
            } else {

            }
        });
    });
</script>

<div th:replace="fragments/footer.html :: fragment-footer"></div>
</body>
</html>