<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hod0ri.catprice.item.mapper.ItemMapper">
    <select id="getAllItems" resultType="com.hod0ri.catprice.item.vo.ItemVO">
        select * from public."TB_ITEM"
    </select>

    <insert id="addNewItem">
        INSERT INTO public."tb_request"
            (item_id, item_display, max_price, min_price, avg_price, req_status)
        VALUES (
                #{item_id},
                #{item_display},
                #{max_price},
                #{min_price},
                #{avg_price},
                'Requested'
               );
    </insert>

    <select id="getItemByName" resultType="com.hod0ri.catprice.item.vo.ItemVO">
        SELECT * FROM public."TB_ITEM" where item_display LIKE '%${item_display}%'
    </select>
</mapper>